.app-card {
  list-style-type: none;
  background-color: #fff;
  height: 200px;
  width: 180px;
  padding: 10px;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
  border-radius: 10px;
}

.app-logo {
  width: 120px;
}

.app-name {
  font-family: 'Bree Serif';
  font-weight: bold;
  font-size: 20px;
}

@media (max-width: 767px) {
  .app-card {
    width: 150px;
    height: 180px;
  }
  .app-logo {
    width: 100px;
  }
  .app-name {
    font-size: 18px;
  }
}
